<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>XML → Feed конвертер</title>
</head>
<body>

<h2>Конвертация XML → Feed</h2>

<form action="/convert" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xml" required>
    <br><br>

    <label>Формат:</label>
    <select name="format">
        <option value="yml">yml</option>
        <option value="avito_auto">avito_auto</option>
    </select>

    <br><br>
    <button type="submit">Конвертировать</button>
</form>

</body>
</html>
